<i class="fas fa-pen-square fa-lg i-blue" (click)="openModal()"></i>

<div class="modal fade" bsModal #mainModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Manage Links</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-spinner [visible]="loading"></app-spinner>

                <div *ngIf="!loading">
                    <div class="text-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="editedLink.title">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Link" [(ngModel)]="editedLink.url">
                        </div>

                        <button type="button pull-right" class="btn btn-sm btn-outline-success" (click)='add()'>
                            Add
                        </button>
                    </div>

                    <div class="link-list" *ngIf="links && links.length">
                        <h5>Links</h5>

                        <div class="list-item" *ngFor="let item of links">
                            <div class="text-ellipsis">
                                {{item.title}} ({{item.url}})
                            </div>

                            <div class="text-right tools">
                                <i class="fas fa-pencil-alt i-blue" (click)="editLink(item)"></i>
                                <i class="fas fa-trash i-danger" (click)="removeLink(item)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="save()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" bsModal #confirmModel="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Are you sure you want to cancel the changes?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </div>
    </div>
</div>