<i class="fas fa-pen-square fa-lg i-edit" (click)="modal.show(); loadData()"></i>

<div class="modal fade" bsModal #modal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Manage Links</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-spinner [visible]="loading"></app-spinner>

                <div *ngIf="!loading">
                    <div class="text-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title" [(ngModel)]="editedLink.title">
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Link" [(ngModel)]="editedLink.url">
                        </div>

                        <button type="button pull-right" class="btn btn-sm btn-outline-success" (click)='submit()'>
                            Add
                        </button>
                    </div>

                    <div class="link-list" *ngIf="links && links.length">
                        <h5>Links</h5>

                        <div class="list-item" *ngFor="let item of links">
                            <span> {{item.title}} ({{item.url}}) </span>

                            <div class="text-right">
                                <i class="far fa-edit" (click)="editLink(item)"></i>
                                <i class="fa fa-trash-o" (click)="removeLink(item)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="save()">Submit</button>
            </div>
        </div>
    </div>
</div>