<i class="fas fa-pen-square fa-lg i-edit" (click)="openModal()"></i>

<div class="modal fade" bsModal #mainModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Manage Files</h4>

        <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <app-spinner [visible]="loading"></app-spinner>

        <div *ngIf="!loading">
          <file-uploader (onSelect)="onFilesSelected($event)"></file-uploader>

          <div class="file-list" *ngIf="files && files.length">
            <h5>Files</h5>

            <div class="file" *ngFor="let item of files">
              <div class="text-ellipsis">
                {{item.name}}
              </div>

              <div class="text-right tools">
                <i class="fas fa-trash i-delete" (click)="removeFile(item)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #confirmModel="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p>Are you sure you want to cancel the changes?</p>
                <button type="button" class="btn btn-default" (click)="confirm()">Yes</button>
                <button type="button" class="btn btn-primary" (click)="decline()">No</button>
            </div>
        </div>
    </div>
</div>