<nav class="navbar fixed-top  navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="">
    <img src="http://web4design.co.uk/images/training-bulb.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Tendy
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink="/ideas">Ideas</a>
      </li>
    </ul>

    <span *ngIf="authInfo.userName" class="navbar-text padding-side-1">
      Hello, {{authInfo.userName}}
    </span>

    <form *ngIf="authInfo.isSignedIn">
      <a class="btn btn-sm btn-outline-primary" (click)="logout()">
        Sign out
      </a>
    </form>

    <form *ngIf="!authInfo.isSignedIn">
      <a class="btn btn-sm btn-outline-success" routerLink="/authorize/sign-in">
        Sign in
      </a>
      <a class="btn btn-sm btn-outline-primary" routerLink="/authorize/sign-up">
        Sign up
      </a>
    </form>
  </div>
</nav>
