<div class="container">
    <h2>
        <strong>{{idea.title}}</strong>
    </h2>

    <a class="btn btn-primary btn-sm" [routerLink]="['../../edit',idea.id]"> Edit  </a>

    <div class="row">
        <div class="col-md-5 image-wrapper">
            <img class="image-wrapper" src="https://www.justpro.co/img/no-image.png" data-holder-rendered="true">
        </div>

        <div class="col-md-7">
            <div>
                <label>Title: </label>
                <span>{{idea.title}}</span>
            </div>

            <div>
                <label>Subtitle: </label>
                <span>{{idea.subTitle}}</span>
            </div>

            <div>
                <label>Description: </label>
                <span>{{idea.description}}</span>
            </div>

            <div *ngIf="idea.gitHubLink">
                <a class="btn btn-dark btn-sm" href="{{idea.gitHubLink}}" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 text-center">
            Need people:
            <h2>
                <span>10</span>
            </h2>
        </div>
        <div class="col-md-3 text-center">
            Accepted people:
            <h2>
                <span>10</span>
            </h2>
        </div>
        <div class="col-md-3 text-center">
            All requests count:
            <h2>
                <span>10</span>
            </h2>
        </div>
    </div>
    <div class="row">
        <h4>Attachment</h4>

        <div class="attachment-container">
            <span class="border border-primary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-success"></span>
            <span class="border border-danger"></span>
            <span class="border border-warning"></span>
            <span class="border border-info"></span>
            <span class="border border-dark"></span>
        </div>

        <div class="form-group">
            <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
    </div>

    <div class="row">
        <h4>Publications</h4>

        <div class="attachment-container">
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
            <span class="border border-secondary"></span>
        </div>
        <div class="form-group">
            <input type="file" class="form-control-file">
        </div>
    </div>
</div>
