<ul class="list-group side-menu-wrapper">
        <li class="list-group-item list-group-item-action">
                <a routerLink=""> Publications </a>
        </li>
        <li class="list-group-item list-group-item-action">
                <a routerLink=""> My Ideas </a>
        </li>
        <li class="list-group-item list-group-item-action">
                <a routerLink=""> Add New One </a>
        </li>
        <li class="list-group-item list-group-item-action">
                <a routerLink=""> Requests </a>
        </li>
        <li class="list-group-item list-group-item-action">
                <a routerLink=""> Statistics </a>
        </li>
</ul>