.toggle-bar {
    position: fixed;
    background-color: #edeff5;
    width: 38px;
    height: 45px;
    z-index: 6;
    top: 50px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    -webkit-box-shadow: 0px 0px 20px 3px #757575;
    cursor: pointer;

    i {
        color: #007fbd;
        width: 32px;
        line-height: 1.4em;
    }

    @media (max-width: 768px) {
        &.opened {
            margin-left: 13em;
        }
    }

    @media (min-width: 768px) {
        display: none
    }
}

.sidebar {
    width: 3em;
    background-color: #00365c;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40px;
    opacity: 0.93;

    &.toggled {
        width: 13em;

        ul li a span {
            display: inline;
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            padding: 0.5em;
            cursor: pointer;

            &:hover {
                background-color: #0d4871;
            }

            a {
                color: white;
                text-decoration: none;

                i {
                    width: 2em;
                }

                span {
                    overflow: hidden;
                    display: none;
                }
            }
        }
    }

    @media (max-width: 768px) {
        &:not(.toggled) {
            display: none
        }

        & ul li:first-child {
            display: none;
        }
    }
}
