.nav-bar-custom {
    background-color: #2980b9 !important;
    padding: 0 0.4em;

    .nav-link {
        color: white;

        &:hover {
            padding-bottom: 4px;
            border-bottom: 4px solid #21587f;
        }
    }

    .nav-item {
        cursor: pointer;
        margin: 0 0.3em;
        padding: 0 0em;
    }

    .navbar-text {
        color: white !important;
        line-height: 2em !important;
    }
}
