@mixin ellipsis() {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

//----------------------------------------------------------------
//                            Switcher
//----------------------------------------------------------------

/*<label class="switch no-margin" >
    <input type="checkbox" checked >
    <span class="slider round" > </span >
</label >*/

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 22px;

    & input {
        display: none;

        &:checked + .slider {
            background-color: #2196F3;
        }

        &:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #21587f;
        -webkit-transition: .4s;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            height: 22px;
            width: 22px;
            left: 0px;
            bottom: 0px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }
        /* Rounded sliders */
        &.round {
            border-radius: 34px;

            &:before {
                border-radius: 50%;
            }
        }
    }
}

//----------------------------------------------------------------
//                          Flex List
//----------------------------------------------------------------
.flex-list {
    margin: 0.5em 0;
    padding: 0.3em;

    .list-item {
        padding: 0.3em;

        .link {
            display: inline-flex;
            background-color: #BDBDBD;
            width: 100%;

            & i {
                margin: auto 0.5em;
                background-color: #BDBDBD;
            }

            & a:hover {
                background-color: #BDBDBD;
            }

            & a {
                @include ellipsis();
                background: #edeff5;
                position: relative;
                display: block;
                padding: .4em .4em .4em .8em;
                *padding: .4em;
                color: #444;
                text-decoration: none;
                transition: all .3s ease-out;
                width: 100%;
            }
        }
    }
}